
/*
 * Global variables
 */
$breakpoints: (
        "phone-small":  349px,
        "phone":        399px,
        "phone-wide":   479px,
        "phablet":      559px,
        "tablet-small": 639px,
        "tablet":       767px,
        "tablet-wide":  1023px,
        "desktop":      1247px,
        "desktop-wide": 1439px
);


:root {
        --bg-color-1: black;
        --bg-color-2: #FFC300;
        --bg-color-3: #FF5733;
        --bg-color-4: #C70039;
        --font-h1: 2.5em;
        --font-h2: 1.1em;
        --font-h3: .9em;
    }