
html, body {
    height: 100%;
  }


body{
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
 
  background-color: var(--bg-color-1);
}


h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

main{

  }

footer{
    grid-row-start: 2;
    grid-row-end: 3;
} 
aside {
    background: var(--bg-color-4);
}

@media only screen and (min-width: 500px) {
}
