@import "_default";
@import "_global_mixins";
@import "_root_elements";
@import "./layouts/_layout";
@import "./components/_html";
@import "./components/_header";
@import "./components/_menus";
@import "./components/_footer";


/**
 *  @style 
 *  @title "first button"
 *  @link "first button"
 *  @html "<button class='button'>First button</button>"
 *  @description "this is a description about the button"
 */
 button {
    background: blue !important; 
}
  /* @end */
  /**
   *  @style ""
   *  @title "My span"
   *  @link "Span"
   *  @html "<span class='my-span' >Span color</span>"
   *  @description "this is a description a span color"
   */
  span {
    background: blue !important;
    display: block;
    height: 20px;
    width: 20px;
      span{
        background: pink !important;
        display: block;
        height: 20px;
        width: 20px;
      }

 }


  /* @end */