#main {
    display: flex;
    flex-wrap: wrap;
    padding-top:20px;
    #toolbar {
        order: 1;
        flex: 1;
        background: pink;
    }
    #editor {
        order: 3;
        flex: 8;
        background: blue;
    }
    #project {
        order: 2;
        flex: 2;
        background: orchid;
    }
}